footer 
	div(class="container")
		div(class="content")
			div(class="footer-logo")
				a(href="https://nagwa.com/" target="_blank") 
					img(src="images/nagwa-logo.png" class="img-fluid" alt="logo") 
			div(class="footer-copyrights")
				p Copyright © 2022 Nagwa All Rights Reserved