//children navbar
section(class="children-navbar")
	div(class="container")
		div(class="content")
			div(class="exact-child")
				div(class="image")
					img(src="images/exact-child.png" class="img-fluid" alt="logo") 
				div(class="name")
					h2 Adam
			div(class="all-childrens")
				div(class="all-childrens-content")
					div(class="child-box")
						div(class="image")
							img(src="images/child-1.png" class="img-fluid" alt="logo") 
						div(class="name")
							h3 maged
					div(class="child-box active")
						div(class="image")
							img(src="images/exact-child.png" class="img-fluid" alt="logo") 
						div(class="name")
							h3 adam
					div(class="child-box")
						div(class="image")
							img(src="images/child-2.png" class="img-fluid" alt="logo") 
						div(class="name")
							h3 nabil
				div(class="add-child")
					i(class="fa-solid fa-user-plus")
					span add child
//children navbar

//statistics
section(class="statistics")
	div(class="container")
		div(class="main-title")
			h2 statistics
		div(class="content")
			div(class="row")
				div(class="col-md-4")
					div(class="statistics-box")
						div(data-animate="false")
							div(class="circle" data-percent="81" data-color="#4A3274" style="color: #4A3274")
								div(class="number")
						div(class="percentage")
							span 32 out of 40
						div(class="title")
							span Solved Homework
				div(class="col-md-4")
					div(class="statistics-box")
						div(data-animate="false")
							div(class="circle" data-percent="81" data-color="#739500" style="color: #739500")
								div(class="number")
						div(class="percentage")
							span 45 out of 90
						div(class="title")
							span Attended Days
				div(class="col-md-4")
					div(class="statistics-box")
						div(data-animate="false")
							div(class="circle" data-percent="81" data-color="#950086" style="color: #950086")
								div(class="number")
						div(class="percentage")
							span 8 out of 11
						div(class="title")
							span Online Sessions attended
//statistics

//homework
section(class="homework")
	div(class="container")
		div(class="main-title")
			div(class="title")
				h2 homework
			div(class="all-homeworks-btn")
				a(href="" class="btn") All Homeworks 
					i(class="fa-solid fa-chevron-right")
		div(class="content")
			div(class="homework-dropdown")
				select(class="form-select")
					option(value="" selected) Chemistry
					option(value="") Geology
					option(value="") Sociology
					option(value="") Statics
			div(class="canvas")
				canvas(width="400" height="150" id="homeworkChart")
//homework

//attendence
section(class="attendence")
	div(class="container")
		div(class="main-title")
			h2 attendence
		div(class="content")
			div(class="calendar" id="attendence_calendar")
				div(class="calendar-header")
					div(class="calendar-header-content")
						button(class="switch-month switch-left")
							i(class="fa fa-chevron-left")
						h3(class="the-month")
						button(class="switch-month switch-right")
							i(class="fa fa-chevron-right")
				div(class="calendar-weekdays")
				div(class="calendar-content")
//attendence

//gradebook
section(class="gradebook")
	div(class="container")
		div(class="gradebook-nav")
			div(class="main-title")
				h2 gradebook
			div(class="semesters-titles")
				div(class="semester-box")
					h3 1st Semester
				div(class="semester-box")
					h3 2nd Semester
				div(class="semester-box")
					h3 Year Pass Limit
				div(class="semester-box")
					h3 Total Marks
		div(class="content")
			div(class="gradebook-grid")
				div(class="gradebook-subjects")
					div(class="subjects-box")
						span Math
					div(class="subjects-box")
						span Geology
					div(class="subjects-box")
						span Sociology
					div(class="subjects-box")
						span Chemistry
					div(class="subjects-box")
						span Statics
					div(class="subjects-box")
						span Science
					div(class="subjects-box")
						span Arabic
				div(class="grades")
					div(class="grades-column")
						div(class="grades-box")
							span(class="actual-grade") 42
							span(class="slash-sign") /
							span(class="final-grade") 50
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade") 50
							span(class="slash-sign") /
							span(class="final-grade") 50
						div(class="grades-box")
							span(class="actual-grade") 98
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade less") 30
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade less") 20
							span(class="slash-sign") /
							span(class="final-grade") 50
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
					div(class="grades-column")
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
					div(class="grades-column")
						div(class="grades-box")
							span 50
						div(class="grades-box")
							span 50
						div(class="grades-box")
							span 50
						div(class="grades-box")
							span 50
						div(class="grades-box")
							span 50
						div(class="grades-box")
							span 50
						div(class="grades-box")
							span 50
					div(class="grades-column")
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
						div(class="grades-box")
							span(class="actual-grade") 80
							span(class="slash-sign") /
							span(class="final-grade") 100
			div(class="gradebook-footer")
				div(class="total-mark-title")
					span Total Mark
				div(class="total-mark")
					span 3785/4000
//gradebook
