script(src="js/jquery-3.6.0.min.js")
script(src="js/bootstrap.bundle.min.js")
//- script(src="js/all.min.js")
script(src="js/circle-progress.min.js")
script(src="js/chart.js")
script(src="js/calendar.js")
script(src="js/script.js")